# 제1장. 파이썬 기초
이번 실습에서는 python programining 기초에 대해서 학습 할 예정이다. 

기본적인 코딩 실습을 통해 파이썬 프로그램 코딩에 익숙해지는 단계이다.

### LMS 강의자료를 VScode로 실행해보는법
1. [LMS에서 제공되는 강의자료](https://edu.jbnu.ac.kr/index.jsp) 에서 강의자료는 다운로드 한다. 
- `이번 강의에서는 LMS에 강의자료 활용`
2. Visual Studio Code를 실행한다. 
3. 파일 열기 혹은 소스코드 드레그 인을 통해 코딩 파일을 연다.
4. 코딩 파일을 수행한다. 


### Github 강의자료를 VScode로 실행해보는법
1. [미리 만들어놓은 강의자료 Github 링크](https://github.com/jongminyeom/python_lecture/) 에서 강의자료는 다운로드 한다. 
2. Visual Studio Code를 실행한다. 
3. 파일 열기 혹은 소스코드 드레그 인을 통해 코딩 파일을 연다.
4. 코딩 파일을 수행한다. 

### 이 문서를 구글 Colab에서 쉽게 실행해보는 방법은
1. [미리 만들어놓은 Colab 링크](https://colab.research.google.com/drive/1GBdjTSbSx8dCYS_QYfhGbj-Q_HG2EQO9#scrollTo=a2b2e1ac)를 눌러 본 .ipynb 파일을 구글 Colab에서 바로 열 수 있다. 이때 구글에 로그인을 해야 한다.
2. 아무 셀이나 선택한 후 Ctrl+Enter를 눌러 실행해보면 [경고: 이 노트는 Google에서 작성하지 않았습니다]라고 뜨는데 실행 전에 모든 런타임 재설정을 선택한 채로 무시하고 계속하기를 눌러준다.
3. `모든 런타임 재설정` 이 뜰 텐데 예를 눌러준다.
4. 잠시 구글 서버의 배치가 되면서 우상단에 연결중 -> 초기화중 -> 연결됨이 뜨면서 실행이 가능한 상태가 된다.

### 구글 Colab에서 실습후 저장하는법
**쉽게 실행보는법**을 따라왔다면 Colab에서 임시 노트북으로 열리기 때문에 파일->드라이브로 저장을 눌러서 여러분의 구글 드라이브에 저장하거나 파일 -> .ipynb 다운로드를 눌러서 다운로드 해준다.

#### Jupyter notebook 주요 단축키
|단축키|	기능|
|--|--|
|ESC|	코드모드에서 명령모드로 전환|
|enter|	명령모드에서 코드모드로 전환|
|m|	코드셀에서 마크다운셀로 변경|
|y|	마크다운셀에서 코드셀로 변경|
|a|	현재 셀 위로 셀추가|
|b|	현재 셀 아래로 셀추가|
|dd|	셀삭제|
|shift + 엔터|	셀 실행 후 다음 셀로 이동|
|ctrl + 엔터|	셀 실행 후 셀에 계속 머물기|
|ctrl + shift + -|	화면창키우기|
|ctrl + s|	저장|

# 파이썬 기초, 자료형

#### 숫자형
##### 숫자형(Number)이란 숫자 형태로 이루어진 자료형으로, 우리가 이미 잘 알고 있는 것이다. 

##### 우리가 흔히 사용하는 숫자들을 생각해 보자. 

#### 123과 같은 정수, 12.34와 같은 실수, 8진수나 16진수도 있다.

|항목|파이썬 사용 예|
|---|---|
|정수|123, -345, 0| 
|실수|123.45, -1234.5, 3.4e10| 
|8진수|0o34, 0o25| 
|16진수|0x2A, 0xFF|

### 정수형
##### 정수형(Integer)이란 말 그대로 정수를 뜻하는 자료형을 말한다. 다음은 양의 정수와 음의 정수, 숫자 0을 변수 a에 대입하는 예이다.

In [1]:
a = 123
a = -178
a = 2.0
print(a)

2.0

In [2]:
# 직접 실습을 해보세요. 
c = 12/3
print(c)

4.0

In [ ]:
# 직접 실습을 해보세요.

#### 실수형
파이썬에서 실수형(Floating-point)은 소수점이 포함된 숫자

In [3]:
a = 1.2
a = -3.45

In [1]:
a = 1.3
b = 5.2

c = a + b
print(c)

6.5

In [ ]:
# 직접 실습을 해보세요.

다음은 ‘컴퓨터식 지수 표현 방식’으로, 파이썬에서는 4.24e10 또는 4.24E10처럼 표현한다

(e와 E 둘 중 어느 것을 사용해도 된다).

In [2]:
a = 4.24E10
a = 4.24e-10

4.24e-10

#### 8진수와 16진수
8진수(octal)를 만들기 위해서는 숫자가 `0o` 또는 `0O` (숫자 0 + 알파벳 소문자 o 또는 대문자 O)으로 시작

In [7]:
a = 0o177
print(a)

127

`0o177` = 1 X 8^2 + 7 X 8 ^1 + 7 X 8^0

16진수(hexadecimal)를 만들기 위해서는 `0x`로 시작하면 된다.

In [4]:
a = 0x8ff
b = 0xABC
print(b)
2748

2748

2748

0x8ff = ?

8진수와 16진수는 있다는 있다는 것만 숙지하면 됨

- 위성영상을 이용한 구름탐지의 경우 8진수를 이용하여 품질 정보 입력 (용량문제로 16bit  ==> 8bit)

### 숫자형을 활용하기 위한 연산자
#### 사칙 연산
프로그래밍을 한 번도 해 본 적이 없는 학생이라도 사칙 연산(+, -, *, /)은 알고 있을 것이다. 

파이썬 역시 계산기와 마찬가지로 다음처럼 연산자를 사용해 사칙 연산을 수행한다.

In [6]:
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

#### x의 y제곱을 나타내는 ** 연산자
다음으로 알아야 할 연산자로 **라는 연산자가 있다. 

이 연산자는 x ** y처럼 사용했을 때 x의 y제곱() 값을 리턴한다. 

다음 예를 통해 알아보자.

In [7]:
a = 3
b = 4
print(a ** b)

81

In [ ]:
# 직접 실습을 해보세요.

#### 나눗셈 후 나머지를 리턴하는 % 연산자
프로그래밍을 처음 접하는 학생이라면 % 연산자는 본 적이 없을 것이다. 

%는 나눗셈의 나머지 값을 리턴하는 연산자이다. 

7을 3으로 나누면 나머지는 1, 3을 7로 나누면 나머지는 3이 될 것이다. 다음 예로 확인해 보자.


![나누기](02_1_mod1.png)

In [3]:
7 % 3

1

In [4]:
3 % 7

3

In [ ]:
# 직접 실습해보기

#### 나눗셈 후 몫을 리턴하는 // 연산자
/ 연산자를 사용하여 7 나누기 4를 하면 그 결과는 예상대로 1.75가 된다.

In [1]:
7/4

1.75

In [2]:
7//4

1

In [10]:
# 직접 실습해보기

### 문자열 자료형
`문자열(string)`이란 문자, 단어 등으로 구성된 문자들의 집합을 말한다. 

예를 들면 다음과 같다.

"Life is too short, You need Python" 

"a"

"123"

#### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때
문자열을 만들어 주는 주인공은 작은따옴표(')와 큰따옴표(")이다. 

그런데 문자열 안에도 작은따옴표와 큰따옴표가 들어 있어야 할 경우가 있다. 

이때는 좀 더 특별한 기술이 필요하다. 

예제를 하나씩 살펴보면서 원리를 익혀 보자.

In [1]:
food= "Python's favorite food is perl"

In [2]:
food

"Python's favorite food is perl"

In [4]:
food= "Python's favorite food is perl"
food

"Python's favorite food is perl"

'Python'이 문자열로 인식되어 구문 오류(Syntax Error)가 발생

#### 문자열에 큰따옴표 포함하기

In [7]:
say = '"Python is very easy." he says.'

In [8]:
say

'"Python is very easy." he says.'

#### 역슬래시( \ )를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함하기

In [9]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [11]:
say = "\"Python is very easy.\" he says."

작은따옴표나 큰따옴표를 문자열에 포함시키는 또 다른 방법은 역슬래시(`\`)를 사용하는 것이다. 

즉, 역슬래시를 작은따옴표나 큰따옴표 앞에 삽입하면 역슬래시 뒤의 작은따옴표나 큰따옴표는 문자열을 둘러싸는 기호의 의미가 아니라 ' 나 혹은 " 자체를 뜻하게 된다.

어떤 방법을 사용해서 문자열 안에 작은따옴표(')와 큰따옴표(")를 포함시킬 것인지는 각자의 선택이다. 

대화형 인터프리터를 실행한 후 위 예문을 꼭 직접 작성해 보자.

In [6]:
food

"Python's favorite food is perl"

In [13]:
print(say)

"Python is very easy." he says.

#### 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [10]:
multiline = "Life is too short\nYou need python"

In [12]:
print(multiline)

Life is too short
You need python

In [22]:
multiline='''
Life is too short
You need python
OK?
'''

In [23]:
print(multiline)

Life is too short
You need python
OK?

### 이스케이프(escape code) 코드란?
- 기존에 정해진 규칙에서 벗어난 문자를 만들 때 사용

|코드|설명|
|---|---|
|\n|문자열 안에서 줄을 바꿀 때 사용|
|\t|문자열 사이에 탭 간격을 줄 때 사용|
|\ \\ |를 그대로 표현할 때 사용|
|\\'|작은따옴표(')를 그대로 표현할 때 사용|
|\\"|큰따옴표(")를 그대로 표현할 때 사용|
|\r|캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)|
|\f|폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)|
|\a|벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)|
|\b|백 스페이스|
|\000|널 문자|

이 중에서 활용 빈도가 높은 것은 \n, \t, \\, \', \"이다

#### 문자열 연산하기
파이썬에서는 문자열을 더하거나 곱할 수 있다. 

이는 다른 언어에서는 쉽게 찾아볼 수 없는 재미있는 기능으로, 우리 생각을 그대로 반영해 주는 파이썬만의 장점이라고 할 수 있다. 

문자열을 더하거나 곱하는 방법에 대해 알아보자.

#### 문자열 더해서 연결하기

In [26]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

#### 문자열 곱하기

In [27]:
a = "python"
a * 2

'pythonpython'

In [28]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

#### 문자열 길이 구하기
문자열의 길이는 다음과 같이 `len 함수`를 사용하면 구할 수 있다. 

len 함수는 print 함수처럼 `파이썬의 기본 내장 함수`로, 별다른 설정 없이 바로 사용할 수 있다.

문자열의 길이에는 공백 문자도 포함된다.

In [29]:
a = "Life is too short"
len(a)

17

#### 문자열 인덱싱과 슬라이싱
`인덱싱(indexing)` 이란 무엇인가를 ‘가리킨다’,

`슬라이싱(slicing)`은 무엇인가를 ‘잘라 낸다’라는 의미이다. 

이런 의미를 생각하면서 다음 내용을 살펴보자.

#### 문자열 인덱싱(indexing)

In [ ]:
a = "Life is too short, You need Python"

In [30]:
a = "Life is too short, You need Python"
a[3]

'e'

![indexing](02_2_indexing.png)

<img src="02_2_indexing.png" alt="대체_텍스트" width="1400" height="100">

In [1]:
a = "Life is too short, You need Python"
a[3]

'e'

a[3]이 뜻하는 것은 a라는 문자열의 네 번째 문자 e를 말한다. 

프로그래밍을 처음 접하는 학생이라면 a[3]에서 숫자 3이 왜 네 번째 문자를 뜻하는지 의아할 수도 있다. 

사실 이 부분이 헷갈릴 수 있는 부분인데, 다음과 같이 생각하면 쉽게 알 수 있을 것이다.

`"파이썬은 0부터 숫자를 센다."`

따라서 파이썬은 위 문자열을 다음과 같이 바라보고 있다.

` a[0]:'L', a[1]:'i', a[2]:'f', a[3]:'e', a[4]:' ', ...`

#### 문자열 인덱싱 활용하기
인덱싱의 예를 몇 가지 더 살펴보자.

In [1]:
a = "Life is too short, You need Python"
a[4]
#a[-1]

' '

In [13]:
# 추가로 연습해보기

문자열을 뒤에서부터 읽기 위해 -(빼기) 기호를 붙인 것이다. 

즉, a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 말한다. 

a의 값은 "Life is too short, You need Python" 문자열이므로 뒤에서부터 첫 번째 문자는 가장 마지막 문자 'n'이다.

뒤에서부터 첫 번째 문자를 표시할 때도 0부터 세어 ‘a[-0]이라고 해야 하지 않을까?’라는 의문이 들 수도 있겠지만, 

잘 생각해 보자. 0과 -0은 똑같은 것이기 때문에 a[-0]은 a[0]과 똑같은 값을 보여 준다.

In [14]:
a[-0]

'L'

a[-2]

a[-5]

### 문자열 슬라이싱
그렇다면 "Life is too short, You need Python" 문자열에서 단순히 한 문자만을 뽑아 내는 것이 아니라

‘Life’ 또는 ‘You’와 같은 단어를 뽑아 내는 방법은 없을까?

다음과 같이 하면 된다.

In [6]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

위와 같이 단순하게 접근할 수도 있지만 파이썬에서는 더 좋은 방법을 제공한다. 

바로 `슬라이싱slicing 기법`이다.

위 예는 슬라이싱 기법으로 다음과 같이 간단하게 처리할 수 있다.

`인덱싱 기법과 슬라이싱 기법은 뒤에서 배울 자료형인 리스트나 튜플에서도 사용할 수 있다.`

In [6]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

‘a[0]은 L, a[1]은 i, a[2]는 f, a[3]은 e이므로 a[0:3]으로도 Life라는 단어를 뽑아 낼 수 있지 않을까?’ 라는 의문

In [9]:
a[0:3]

'Lif'

이렇게 되는 이유는 슬라이싱 기법으로 `a[시작_번호:끝_번호]`를 지정할 때 끝 번호에 해당하는 문자는 포함하지 않기 

**0 <= a < 3**

#### 문자열을 슬라이싱하는 연습

 "Life is too short, You need Python"

a[0:2]
a[5:7]
a[12:17]

a[시작_번호:끝_번호]에서 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아 낸다.

In [12]:
# need를 빼오기 
a[-11:-7]

'need'

In [13]:
a[19:]

'You need Python'

a[시작_번호:끝_번호]에서 시작 번호를 생략하면 문자열의 처음부터 끝 번호까지 뽑아 낸다.

In [17]:
a[:17]

'Life is too short'

a[시작_번호:끝_번호]에서 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지 뽑아 낸다.

In [18]:
a[:]

'Life is too short, You need Python'

슬라이싱에서도 인덱싱과 마찬가지로 -(빼기) 기호를 사용할 수 있다.

In [19]:
a[19:-7]

'You need'

In [26]:
# "Life is too short, You need Python"
a[-22: -17]

'short'

a[19:-7]은 a[19]에서 a[-8]까지를 의미한다. 이때에도 a[-7]은 포함하지 않는다.

#### 슬라이싱으로 문자열 나누기

다음은 자주 사용하는 슬라이싱 기법 중 하나이다.

In [30]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20230331
Rainy

In [37]:
year = date[:4]
month = date[4:6]
day = date[6:8]
print(year)
print(month)
print(day)

2023
03
31

#### Pithon 문자열을 Python으로 바꾸려면?
Pithon 문자열을 Python으로 바꾸려면 어떻게 해야 할까? 제일 먼저 떠오르는 생각은 다음과 같을 것이다.

In [1]:
a = "Pithon"
a[1]
a[1] = 'y'

TypeError: 'str' object does not support item assignment

즉, a 변수에 "Pithon" 문자열을 대입하고 a[1]의 값이 i이므로 a[1]을 y로 바꾸어 준다는 생각이다. 

하지만 결과는 어떻게 나올까? 당연히 오류가 발생한다. 

문자열의 요솟값은 바꿀 수 있는 값이 아니기 때문이다 (그래서 문자열을 `변경 불가능한 immutable 자료형` 이라고도 부른다).

하지만 앞에서 배운 슬라이싱 기법을 사용하면 Pithon 문자열을 사용해 Python 문자열을 만들 수 있다. 다음 예를 살펴보자.

In [5]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

#### 문자열 포매팅이란?
문자열에서 또 하나 알아야 할 것으로는 `문자열 포매팅(string formatting)`이 있다. 

문자열 포매팅을 공부하기 전에 다음과 같은 문자열을 출력하는 프로그램을 작성했다고 가정해 보자.

#### "현재 온도는 18도입니다."

시간이 지나서 20도가 되면 다음 문장을 출력한다.

두 문자열은 모두 같은데 20이라는 숫자와 18이라는 숫자만 다르다. 

이렇게 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해 주는 것이 바로 문자열 포매팅이다.

#### "현재 온도는 20도입니다"

### 문자열 포매팅 따라하기
#### 1. 숫자 바로 대입

In [6]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [5]:
"I eat %d apples." % 7

'I eat 7 apples.'

#### 2. 문자열 바로 대입
문자열 안에 꼭 숫자만 넣으라는 법은 없다. 이번에는 숫자 대신 문자열을 넣어 보자.

In [8]:
"I eat %s apples." % "seven"

'I eat seven apples.'

문자열 안에 또 다른 문자열을 삽입하기 위해 앞에서 사용한 문자열 포맷 코드 %d가 아닌 %s를 썼다. 

숫자를 넣기 위해서는 %d, 문자열을 넣기 위해서는 %s를 써야 한다는 사실

#### 3. 숫자 값을 나타내는 변수로 대입

In [14]:
number = 4
"I eat %d apples." % number

'I eat 4 apples.'

#### 4. 2개 이상의 값 넣기

In [12]:
number = 12
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [26]:
# 추가로 연습해보기~~
per = 99.9845454
"Error is %f%%" % per

'Error is 99.984545%'

### 문자열 포맷 코드
문자열 포매팅 예제에서는 대입해 넣는 자료형으로 정수와 문자열을 사용했지만, 이 밖에도 다양한 것을 대입할 수 있다. 

문자열 포맷 코드의 종류는 다음과 같다.

|코드|	설명|
|---|---|
|%s|	문자열(String)|
|%c|	문자 1개(character)|
|%d|	정수(Integer)|
|%f|	부동소수(floating-point)|
|%o|	8진수|
|%x|	16진수|
|%%|	Literal % (문자 % 자체)|

여기에서 재미있는 것은 %s 포맷 코드인데, 이 코드에는 어떤 형태의 값이든 변환해 넣을 수 있다

In [16]:
"I have %s apples" % 3

'I have 3 apples'

In [17]:
"rate is %s" % 3.234

'rate is 3.234'

#### 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다

In [18]:
"Error is %d%." % 98

ValueError: incomplete format

결괏값으로 당연히 "Error is 98%."가 출력될 것이라고 예상하겠지만, 

파이썬은 '형식이 불완전하다'라는 오류 메시지를 보여 준다.

그 이유는 ‘문자열 포맷 코드인 %d와 %가 같은 문자열 안에 존재하는 경우, %를 나타내려면 반드시 `%%를` 써야 한다’라는 법칙이 있기 때문이다. 

이 점은 꼭 기억해 두어야 한다. 하지만 문자열 안에 %d와 같은 포매팅 연산자가 없으면 %는 홀로 쓰여도 상관없다. 

따라서 위 예를 제대로 실행하려면 다음과 같이 작성해야 한다.

In [19]:
"Error is %d%%." % 98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기
앞에서 살펴보았듯이 %d, %s 등과 같은 포맷 코드는 문자열 안에 어떤 값을 삽입할 때 사용한다. 

하지만 포맷 코드를 숫자와 함께 사용하면 더 유용하다. 

다음 예를 따라해 보자.

#### 1. 정렬과 공백

In [20]:
"%10s" % "hi"

'        hi'

%10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.

![indexing](02_2_formating1.png)

그렇다면 반대쪽인 왼쪽 정렬은 %-10s가 될 것이다

In [36]:
len("%-10s" % "hi" "%10s" % "hi")

16

In [37]:
left_aligned = "%-10s" % "hi"
right_aligned = "%10s" % "hi"
combined = left_aligned + right_aligned
length = len(combined)

print(f"'{left_aligned}'의 길이: {len(left_aligned)}")
print(f"'{right_aligned}'의 길이: {len(right_aligned)}")
print(f"결합된 문자열: '{combined}'")
print(f"결합된 문자열의 길이: {length}")

'hi        '의 길이: 10
'        hi'의 길이: 10
결합된 문자열: 'hi                hi'
결합된 문자열의 길이: 20

In [21]:
"%-10sjane." % 'hi'

'hi        jane.'

![indexing](02_2_formating2.png)

#### 2. 소수점 표현하기

In [20]:
"%0.4f" % 3.42134234

'3.4213'

3.42134234를 소수점 네 번째 자리까지만 나타내고 싶은 경우에는 위와 같이 작성한다. 

%0.4f에서 ‘.’는 소수점 포인트, 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수를 말한다. 

소수점 포인트 앞의 숫자는 문자열의 전체 길이를 의미하는데, %0.4f에서 사용한 숫자 `0은 길이에 상관하지 않겠다`는 의미이다.

%0.4f는 0을 생략하여 %.4f처럼 사용하기도 한다.

다음 예를 살펴보자.

In [24]:
"%10.4f" % 3.42134234

'    3.4213'

![indexing](02_2_formating3.png)

### format 함수를 사용한 포매팅

문자열의 format 함수를 사용하면 좀 더 발전된 스타일로 문자열 포맷을 지정할 수 있다. 

앞에서 살펴본 문자열 포매팅 예제를 format함수를 사용해서 바꾸면 다음과 같다.

#### 숫자 바로 대입하기

In [25]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [40]:
"I eat {0} apples"

'I eat {0} apples'

#### 문자열 바로 대입하기

In [27]:
"I eat {0} apples".format("five")

'I eat five apples'

문자열의 {0} 항목이 ‘five’라는 문자열로 바뀌었다.

#### 숫자 값을 가진 변수로 대입하기

In [21]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

문자열의 {0} 항목이 number 변수의 값인 3으로 바뀌었다.

#### 2개 이상의 값 넣기

In [28]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

#### 이름으로 넣기

In [29]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [41]:
"I ate {number} apples. so I was sick for {day} days.".format( day=3,number=10)

'I ate 10 apples. so I was sick for 3 days.'

{0}, {1}과 같은 인덱스 항목 대신 더 편리한 {name} 형태를 사용하는 방법도 있다. 

{name} 형태를 사용할 경우, format 함수에는 반드시 name=value와 같은 형태의 입력값이 있어야 한다. 

위 예는 문자열의 {number}, {day}가 format 함수의 입력값인 number=10, day=3 값으로 각각 바뀌는 것을 보여 주고 있다.

#### 인덱스와 이름을 혼용해서 넣기

In [30]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 왼쪽 정렬

In [31]:
"{0:<10}".format("hi")

'hi        '

오른쪽 정렬은 :< 대신 :>을 사용하면 된다. 화살표의 방향을 생각하면 어느 쪽으로 정렬되는지 바로 알 수 있을 것이다.

#### 오른쪽 정렬

In [33]:
"{0:>10}".format("hi")

'        hi'

가운데 정렬

In [34]:
"{0:^10}".format("hi")

'    hi    '

#### 공백 채우기

In [35]:
"{0:=^10}".format("hi")

'====hi===='

In [36]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

정렬할 때 공백 문자 대신 지정한 문자 값으로 채워 넣을 수도 있다. 

채워 넣을 문자 값은 정렬 문자 <, >, ^ 바로 앞에 넣어야 한다. 

위 예에서 첫 번째 예제는 가운데(^)로 정렬하고 빈 공간을 =로 채웠고, 두 번째 예제는 왼쪽(<)으로 정렬하고 빈 공간을 !로 채웠다.

#### 소수점 표현하기

In [37]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

{ 또는 } 문자 표현하기

In [2]:
"{{ and }}".format()

'{ and }'

In [44]:
"{{ and }}".format("but")

'{ and }'

#### `f` 문자열 포매팅
파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다. 

파이썬 3.6 미만 버전에서는 사용할 수 없는 기능이므로 주의해야 한다.

다음과 같이 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [1]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

f 문자열 포매팅은 위와 같이 name, age와 같은 변숫값을 생성한 후에 그 값을 참조할 수 있다. 

또한 f 문자열 포매팅은 `표현식`을 지원하기 때문에 다음과 같은 것도 가능하다.

표현식이란 중괄호 안의 변수를 계산식과 함께 사용하는 것을 말한다.

In [2]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용할 수 있다.

In [23]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [24]:
# 본인 이름과 나이로 포매팅 해보기

딕셔너리는 Key와 Value라는 것을 한 쌍으로 가지는 자료형이다.

다음 강의에서 학습 예정

In [4]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [5]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [6]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

공백 채우기는 다음과 같이 할 수 있다.

In [7]:
f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기

'====hi===='

In [8]:
f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [25]:
y = 3.42134234
f'{y:0.4f}'  # 소수점 4자리까지만 표현

'3.4213'

In [26]:
f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

### 문자열 관련 함수들
문자열 자료형은 자체적으로 함수를 가지고 있다. 

이들 함수를 다른 말로 `문자열 내장함수`라고 한다. 

이 내장 함수를 사용하려면 문자열 변수 이름 뒤에 `'.'`를 붙인 후 함수 이름을 써 주면 된다. 

이제 문자열의 내장 함수에 대해서 알아보자.

#### 문자 개수 세기 - count

In [9]:
a = "hobby"
a.count('b')

2

count 함수로 문자열 중 문자 b의 개수를 리턴했다.

#### 위치 알려 주기 1 - find

In [10]:
a = "Python is the best choice"
a.find('b')

14

In [11]:
a.find('k')

-1

find 함수로 문자열 중 문자 b가 처음으로 나온 위치를 반환했다.

파이썬은 숫자를 0부터 세기 때문에 b의 위치는 15가 아닌 14가 된다.

만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.

#### 위치 알려 주기 2 - index

In [13]:
a = "Life is too short"
a.index('t')

8

In [12]:
a.index('k')

ValueError: substring not found

#### 문자열 삽입 - join

In [27]:
",".join('abcd')

'a,b,c,d'

join 함수는 문자열뿐만 아니라 앞으로 배울 리스트나 튜플도 입력으로 사용할 수 있다

(리스트와 튜플은 곧 배울 내용이므로 여기에서는 잠시 눈으로만 살펴보자). 

join 함수의 입력으로 리스트를 사용하는 예는 다음과 같다.

In [28]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

#### 소문자를 대문자로 바꾸기 - upper

In [29]:
a = "hi"
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기 - lower

In [17]:
a = "HI"
a.lower()

'hi'

#### 왼쪽 공백 지우기 - lstrip

In [18]:
a = " hi "
a.lstrip()

'hi '

#### 오른쪽 공백 지우기 - rstrip

In [ ]:
a= " hi "
a.rstrip()

#### 양쪽 공백 지우기 - strip

In [19]:
a = " hi "
a.strip()

'hi'

#### 문자열 바꾸기 - replace

In [20]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [21]:
#### 문자열 나누기 - split
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [22]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

#### 착각하기 쉬운 문자열 함수

In [23]:
a = 'hi'
a.upper()

'HI'

In [24]:
print(a)

hi

a.upper()를 수행하더라도 a 변수의 값은 변하지 않았다.

왜냐하면 a.upper()를 실행하면 upper 함수는 a 변수의 값 자체를 변경하는 것이 아니라 대문자로 바꾼 값을 리턴하기 때문이다.

문자열은 이전에도 잠깐 언급했지만 자체의 값을 변경할 수 없는 `immutable 자료형`이다. 

따라서 a 값을 'HI' 로 바꾸고 싶다면 다음과 같이 대입문을 사용해야 한다.

In [25]:
a = a.upper()
print(a)

HI

# 참고문헌
점프투 파이썬 from Wididocs